<!-- Banner -->

  <section id="banner">
    <div class="content">
			<header>
    		<h1>Switzerland Omics</h1>
    	<p>Pioneering Precision Medicine</p>
			</header>

			<p>Transparent and open-source analysis by experts. At the forefront of multi-omics, our expertise in genomics, proteomics, and advanced data analysis drives innovation in precision medicine. We deliver tailored solutions for healthcare professionals and researchers.</p>
      <ul class="actions">
        <li><a href="/about.html" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image obje4t">
			<!-- <img src="assets/images/switzerlandomics_langing_images/03a.proteinhemoglobin-768x665.png" alt=""/> -->

		<div 
	style="height: 100%; width: 100%; position: relative;" 
	class='viewer_3Dmoljs' data-pdb='1YCR' 
	data-backgroundalpha='0'
	data-style1='cartoon:color=white'
	data-surface1='opacity:.7;color:white'
	data-spin='axis:y;speed:.1'
	></div>
	<!-- data-backgroundcolor='#191919' --> 
    </span>

  </section>
