---
layout: default
bodyClass: "page-learn"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">

    {% assign sorted_learn = site.learn | sort: "weight" %}

    {% for page in sorted_learn %}
      <div class="col-12 col-md-6 mb-3">
        <div class="tech tech-summary">
          <div class="tech-content">
            <h2 class="tech-title">
              <a href="{{ page.url | relative_url }}">
                {{ page.title }}
              </a>
            </h2>
            <p>{{ page.excerpt | strip_html | truncate: 120 }}</p>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>

